services:
  mongodb:
    image: mongo:latest
    expose:
      - 27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: users_db
    networks:
      - apinet
    volumes:
      - mongodb_data:/data/db

  apirest:
    build: docker
    ports:
      - 0.0.0.0:8888:8888
    depends_on:
      - mongodb
    environment:
      MONGO_HOST: mongodb
      MONGO_PORT: 27017
      MONGO_USER: admin
      MONGO_PASSWORD: password
      MONGO_DB: users_db
      MONGO_DB_COLLECTION: users
    networks:
      - apinet

networks:
  apinet:
    driver: bridge

volumes:
  mongodb_data:

